body {
    margin: 0px;
    padding: 0px;
    height: 99%;
}

textarea#setter {
    left: -1000px;
    position: absolute;
}

.cursor {
    font-size: 12px;
    background-color: black;
    color: black;
    position: relative;
}

#terminal {
    margin: 8px;
    cursor: text;
    height: 500px;
    overflow: auto;
}

#writer {
    font-family: cursor, courier;
    font-weight: bold;
}

#getter {
    margin: 5px;
}